.App {
  text-align: center;
}

.cart{
  margin-right: 10px;
}

.conteiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  

}
body{
  min-height: 100%;
}

img{
  height: 275px;
  width: 320px;
}

.picture-container{
  margin: 5%;
}

.icon{
  height: 50px;
  width:50px;
  margin-left: 25%;
}
footer{
  background-color: #325d88;
  color: black;

  bottom: 0;
}